h1 {
    text-align: center;
}

.dados-do-fornecedor {
    border: 1px solid #000000;
    padding-left: 22px;
    font-size: 22px;
    color: black;
    width: 1250px;
    margin: auto;
    border-style: solid;
    border-radius: 11px;
}

.dados-do-fornecedor h1 {
    font-size: 30px;
    text-align: left;
    color: white;
    background-color: #0085b2;
    padding-left: 11px;
    margin-top: -11px;
    margin-left: -22px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.dados-do-fornecedor p {
    text-align: left;
}

.produtos {
    border: 1px solid #000000;
    padding-left: 22px;
    font-size: 22px;
    color: black;
    width: 1250px;
    margin: auto;
    margin-top: 33px;
    border-style: solid;
    border-radius: 11px;
}

.produtos h1 {
    font-size: 30px;
    text-align: left;
    color: white;
    background-color: #0085b2;
    padding-left: 11px;
    margin-top: -11px;
    margin-left: -22px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px; 
}

.produtos h2 {
    margin-top: 22px;
    font-size: 22px;
    text-align: left;
}

.produtos .trash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    /* border: 2px solid black; */
}

.produtos .package {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    /* border: 2px solid black; */
}