h1 {
    text-align: center;
}

h2 {
    font-size: 22px;
}

.float-container {
    border: 1px solid #000000;
    padding-left: 22px;
    font-size: 22px;
    color: black;
    width: 1000px;
    margin: auto;
    border-style: solid;
    border-radius: 11px;
}

.float-container h1 {
    font-size: 30px;
    text-align: left;
    color: white;
    background-color: #0085b2;
    padding-left: 11px;
    margin-top: -11px;
    margin-left: -22px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.float-container p {
    padding-left: 20px;
}

.float-child {
    margin-top: -33px;
    width: 45%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}

.float-child-2 {
    margin-top: -33px;
    width: 95%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}

.float-child-3 {
    margin-top: -33px;
    width: 30%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}

.float-child-4 {
    margin-top: -33px;
    width: 30%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}

.float-child-5 {
    margin-top: -33px;
    width: 25%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}

.float-container-2 {
    border: 1px solid #000000;
    padding-left: 22px;
    font-size: 22px;
    color: black;
    width: 1000px;
    margin: auto;
    margin-top: 33px;
    border-style: solid;
    border-radius: 11px;
}

.float-container-2 h1 {
    font-size: 30px;
    text-align: left;
    color: white;
    background-color: #0085b2;
    padding-left: 11px;
    margin-top: -11px;
    margin-left: -22px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.float-trash-1 {
    width: 7%;
    float: left;
    padding: 0px;
    /*border: 2px solid red;*/
}

.float-produto-1 {
    margin-top: -33px;
    width: 15%;
    float: left;
    padding: 0px;
    text-align: center;
    /*border: 2px solid red;*/
}

.float-produto-1-descricao-1 {
    margin-top: -33px;
    width: 75%;
    float: left;
    padding-right: 9px;
    /*border: 2px solid red;*/
}
.float-produto-1-descricao-2 {
    margin-top: -33px;
    width: 18%;
    float: left;
    padding-right: 9px;
    /*border: 2px solid red;*/
}

.float-trash-2 {
    width: 7%;
    float: left;
    padding: 0px;
    /*border: 2px solid red;*/
}

.float-produto-2 {
    margin-top: -33px;
    width: 15%;
    float: left;
    padding: 0px;
    text-align: center;
    /*border: 2px solid red;*/
}

.float-produto-2-descricao-1 {
    margin-top: -33px;
    width: 75%;
    float: left;
    padding-right: 9px;
    /*border: 2px solid red;*/
}
.float-produto-2-descricao-2 {
    margin-top: -33px;
    width: 18%;
    float: left;
    padding-right: 9px;
    /*border: 2px solid red;*/
}

.float-container-3 {
    border: 1px solid #000000;
    padding-left: 22px;
    font-size: 22px;
    color: black;
    width: 1000px;
    margin: auto;
    margin-top: 33px;
    border-style: solid;
    border-radius: 11px;
}

.float-container-3 h1 {
    font-size: 30px;
    text-align: left;
    color: white;
    background-color: #0085b2;
    padding-left: 11px;
    margin-top: -11px;
    margin-left: -22px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.paragraph-container {
    display: flex;
    align-items: center;
  }
  
  .paragraph {
    margin: 0;
  }
  
  .centered-image {
    vertical-align: middle;
  }  

.greenbutton-1 {
    margin-top: 33px;
    text-align: center;
}

.greenbutton-1 input {
    color: white;
    background-color: #019e0f;
    border: none;
    border-radius: 3px;
    width: 90%;
    padding: 11px;
    font-size: 22px;
}

.greenbutton-2 {
    margin-top: 33px;
    text-align: center;
}

.greenbutton-2 input {
    color: white;
    background-color: #019e0f;
    border: none;
    border-radius: 3px;
    width: 90%;
    padding: 11px;
    font-size: 22px;
}

.greenbutton-3 {
    margin-top: 33px;
    text-align: center;
}

.greenbutton-3 input {
    color: white;
    background-color: #019e0f;
    border: none;
    border-radius: 3px;
    width: 72%;
    padding: 11px;
    font-size: 22px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}